.board {
  display: flex;
  flex-direction: row;
}

.slot {
  display:flex;
  flex-direction: column-reverse;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;
  border: solid blue 2px;

  background-color: blue;
}

.piece {
  height: 95%;
  width: 95%;
  border-radius: 50%;
}
.piece.red {
  background-color: red;
}
.piece.yellow {
  background-color: rgb(236, 223, 40);
}
.piece.empty {
  background-color: white;
}

.turns {
  font-weight: bold;
}
.turns.red {
  color: red;
}
.turns.yellow {
  color: rgb(236, 223, 40);
}