.board {
  display: flex;
  flex-direction: row;
}

.slot {
  display:flex;
  flex-direction: column-reverse;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;
  border: solid blue 2px;

  background-color: blue;
}

.piece {
  height: 95%;
  width: 95%;
  border-radius: 50%;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.empty {
  background-color: white;
}